<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">About the Exhibit</h5>
    <p class="card-text"><p>Montreal's Chinese community first established itself when workers came east after the completion of the railway. By 1888, there were about 30 Chinese men living in Montreal, but by the 1890s, families had also begun to settle in a nascent Chinatown. However, many of them left behind few records.</p> 
    <a class="btn btn-primary" href="{{ '/about.html' | relative_url }}" role="button">Learn More &raquo;</a>
  </div>
</div>
