<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">About the Exhibit | 關於展覽 | À propos de l'exposition</h5>
    <p class="card-text"><p>Montreal's Chinese community first established itself when workers came east after the completion of the railway. By 1888, there were about 30 Chinese men living in Montreal, but by the 1890s, families had also begun to settle in a nascent Chinatown. However, many of them left behind few records.</p> 
    <p>蒙特利爾的華人社區最初是在鐵路建成後，華工東遷時建立起來的。到一八八八年，蒙特利爾已有約三十名華人男性，但到了一八九零年代，很多家庭開始在 rue de la Gauchetière 附近地區的唐人街定居。他們中的許多人幾乎沒有留下什麼記錄。</p>
    <p>La communauté chinoise de Montréal s'est établie pour la première fois lorsque des travailleurs sont venus dans l'est du Canada après l'achèvement du chemin de fer. En 1888, il y avait environ 30 hommes chinois à Montréal, mais dès 1890, des familles chinoises s'installent dans le nouveau quartier. Cependant, nombre d’entre eux n’ont laissé que peu de traces.</p>
    <a class="btn btn-primary" href="{{ '/about.html' | relative_url }}" role="button">More | 更多 | Plus &raquo;</a>
  </div>
</div>
