---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid' -%}
<div class="row">

  <div class="col-md-8">

Montreal's Chinese community first established itself when workers came east after the completion of the railway. By 1888, there were about 30 Chinese men living in Montreal, but by the 1890s, families had also begun to settle in a nascent Chinatown. However, many of them left behind few records. 

In a seminar about Chinese Canadian literature, University of British Columbia graduate students encountered 1890s Montreal Star and Montreal Witness journalism about Montreal's Chinese community written by Chinese Canadian writer Edith Eaton (Sui Sin Far). Drawing on Eaton's journalism, other newspaper coverage, genealogical and business records, and conversations with descendants, students composed biographical profiles that layered the historically situated experiences of seven people over an abstract and anonymous history of Chinese migration to Canada. Early Chinese in Montreal- a physical pop-up exhibition complemented with an extensive virtual exhibition-shares this research. 

    {% include index/carousel.html title="Sample Items" %}
    
  </div>
  <div class="col-md-4">  

    {% include index/time.html %}

    {% include index/featured-terms.html field="subject" title="Subjects" btn-color="primary" %}
    
    {% include index/objects.html %}

  </div>

</div>